services:
    rch_jwt_user.credential_fetcher:
        class: RCH\JWTUserBundle\Services\CredentialFetcher
        arguments:
            requestStack: "@request_stack"
            validator: "@validator"

    rch_jwt_user.jwt_response_listener:
        class: RCH\JWTUserBundle\EventListener\JwtResponseListener
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccessResponse }

    rch_jwt_user.exception_response_listener:
        class: RCH\JWTUserBundle\EventListener\ExceptionResponseListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelResponse }
